@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #241ecf;
    display: flex;
    justify-content: center;
    text-transform: uppercase; 
    font-weight: bold;
}

input {
    margin:1rem;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

/* button animation */

button {
    color: black;
    background-color:white;
    cursor: pointer;
    border: none;
    box-shadow: 1.5px 1.5px 3px #141414;
}

button:hover {
    background-color: blue;
    color: white;
}

button:active {
    box-shadow: 0 0 0, inset 1.5px 1.5px 3px #141414;
    transform: translate(1.5px, 1.5px);
}

/* Tasks */

#tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.taks-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

:checked + label {
    text-decoration: line-through;
    color: grey;
  }